[default]
SpikeDB = "../out/thePathToYourDatabase.csv"

[zendesk]
Domain = "yourZendeskDomain"
Credentials = "YOURZENDESKEMAIL@yourbiz.com/token:YOURZENDESKAPIKEY"

[email]
Sender = "theSendingEmail@yourbiz.com"
Password = "yourSendingEmailPassword"
Recipient = "theRecipientEmail@theirbiz.com"

[misc]
OmittedTags = ["list", "of", "tags", "to", "omit"]
